[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/dsrkafuu/hugo-theme-fuji.git
[submodule "public"]
	path = public
	url = git@github.com:jidibinlin/jidibinlin.github.io.git
[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/ertuil/erblog
[submodule "mynote"]
	path = mynote
	url = git@github.com:jidibinlin/mynote.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
